<!-- Modified Sidebar -->
<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="/admin/Baiviet" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Bài viết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/Theloai" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Thể loại bài viết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/Tintuc" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tin tức
                        <span class="right badge badge-danger">New</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/Sanpham" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Sản phẩm
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/LoaiSp" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Loại sản phẩm
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/Role" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Role
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/QC" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quảng cáo
                    </p>
                </a>
            </li>

        </ul>
    </nav>
</div>
