@model IEnumerable<Web_Quang_ba_san_pham.Models.Category>
@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Admin" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Admin/Category" class="nav-link">Danh mục</a>
        </li>
    </ul>
    }
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Các danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Danh mục</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách</h3>

            <div class="card-tools">
                <a href="~/Areas/Admin/Views/Category/Thêm" class="btn btn-primary">Thêm danh mục</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Thứ tự</th>
                        <th>Tên danh mục</th>                        
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null && Model.Any())
                    {
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Trống!!</td>
                        </tr>
                    }

                </tbody>
            </table>
            
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
